

<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>

    <form action="http://localhost:3000/orders" method="POST">
        <button type="submit">Buy</button>
        <select name="address_id">
            <% for(var i=0; i < addrs.length; i++) { %>
                <option value="<%= addrs[i].address_id %>"> <%= addrs[i].alias %> </option>
            <% } %>
        </select>
    </form>


    <div class="grid">
        <% for(var i=0; i < items.length; i++) { %>

            <article class="card product-item">                
                <header class="card__header">
                    <h1 class="card__title"><%= items[i].dish_name %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= items[i].image_url %>" width="50" height="150" alt="<%=items[i].title%>">
                </div>
                <div class="card__content">
                    <h3 class="product__price">Price: <%= items[i].cost_per_unit %></h3>
                </div>
                <div class="card__content">
                    <h5 class="product__price">Description: <%= items[i].dish_description %></h5>
                </div>
                <div class="card__content">
                    <p class="product__description">Qt Ord: <%=items[i].quantity%></p>
                </div>
                <!-- <div class="card__actions">
                    <form action="/menu/atc" method="post">
                        <button class="btn" type="submit">ATC</button>
                        <input type="hidden" name="dish_id" value=<%= items[i].dish_id %> >
                    </form>
                </div> -->
            </article>
        <% } %>

    </div>
</main>

<%- include('../includes/end.ejs') %>