<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <div class="grid">
        <% for(var i=0; i < dishes.length; i++) { %>

            <article class="card product-item">                
                <header class="card__header">
                    <h1 class="card__title"><%= dishes[i].name %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= dishes[i].image %>" height="150px" alt="<%= dishes[i].title %>">
                    <p class="card__description" style="text-align:center;font-size:160%;background-color:powderblue;color:black;max-width: 500px;"><%= dishes[i].description  %></p>
                </div>
                <div class="card__content">
                    <h3 class="product__price">Price: <%= dishes[i].price  %></h3>
                </div>
                <div class="card__content">
                    <h3 class="product__price">Rating: <%= dishes[i].rating  %>/5</h3>
                </div>
            </article>
        <% } %>

    </div>
</main>

<%- include('../includes/end.ejs') %>
