<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.5, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.5, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="<%=userImage%>" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title><%=pageTitle%></title>
  <link rel="stylesheet" href="css/prevOrders.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>

<!--header-->
<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                        <img src="<%=userImage%>" alt="<%=displayName%>" style="height: 3.8rem;">
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-black display-7" href="/userDetails">
                        <%=displayName%>
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                		<a class="nav-link link text-primary display-4" href="/home">
                			Home
                		</a>
                	</li>
                    <li class="nav-item">
            		    <a class="nav-link link text-primary display-4" href="">
            			    Menu
            		    </a>
            	    </li>
                	<li class="nav-item">
                	    <a class="nav-link link text-primary display-4" href="">
            			    Cart
            		    </a>
            	    </li>
            	    <li class="nav-item">
                		<a class="nav-link link text-primary display-4" href="/prevOrders">
                		    Orders
                	    </a>
            	    </li>
            	    <li class="nav-item">
            		    <a class="nav-link link text-primary display-4" href="/bookings">
            			    Bookings
                		</a>
                	</li>
                    <% if (isEmployee) {%>
                	<li class="nav-item dropdown">
                		<a class="nav-link link text-primary dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                            Mode
                		</a>
                		<div class="dropdown-menu">
                			<a class="text-primary dropdown-item display-4" href="">
                				Employee
                			</a>
                			<a class="text-primary dropdown-item display-4" href="">
                				User
                			</a>
                		</div>
                	</li>
                    <%}%>
                	<li class="nav-item">
                		<a class="nav-link link text-primary display-4" href="/logout">
                		    Logout
                        </a>
                	</li>
                </ul>
            </div>
        </div>
    </nav>

</section>





<!--Content-->
<section class="header11 cid-swZHoHlbUv mbr-fullscreen mbr-parallax-background" id="header11-o">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-right">
                    <a class="btn btn-success btn-primary" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                </div>
            
                <div class="row" id="post-review-box" style="display:none;">
                    <div class="col-md-12">
                        <form accept-charset="UTF-8" action="" method="post">
                            <input id="ratings-hidden" name="rating" type="hidden"> 
                            <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
            
                            <div class="text-right">
                                <div class="stars starrr" data-rating="5">
                                    <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                    <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                    <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                    <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                    <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                                </div>
                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                <button class="btn btn-success btn-lg" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

<!--Footer-->
<section class="footer6 cid-swZIImfDHv" once="footers" id="footer6-p">
    <div class="container">
        <div class="row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-4 display-7">
                    <strong>Contacts</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                    Email: meatandeat@gmail.com <br>
                    Phone: +91 - 0870- 255722<br><br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-5 display-7">
                    <strong>Feedback</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-7">
                    Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZI5F_k6S1k46ujh0SNrapM89f7mJxd30&amp;q=IITB New GymkhanaMain Gate Rd, Opposite Hostel 11, IIT Area, Powai, Mumbai, Maharashtra 400076" allowfullscreen=""></iframe></div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="col-sm-12 copyright pl-0">
                <p class="mbr-text mbr-fonts-style mbr-white display-7">
                    © Copyright 2025 Meat And Eat - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
<a style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
<p style="flex: 0 0 auto; margin:0; padding-right:1rem;">
    <a href="https://mobirise.site/m" style="color:#aaa;">
    </a>
</p>
</section>

<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>  
<script src="assets/tether/tether.min.js"></script>  
<script src="assets/bootstrap/js/bootstrap.min.js"></script>  
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/dropdown/js/nav-dropdown.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="assets/parallax/jarallax.min.js"></script>
<script src="assets/theme/js/script.js"></script> 
<script src="js/prevOrders.js"></script>  
</body>
</html>